#root {
	padding: 1rem;
	text-align: center;
}

.home {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.buttons-container {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

/* .quantity-cart{
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(25%, 25%);
	background: red;
	border-radius: 50%;
	padding: 5px;
	height: 20px;
  width: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
} */

.cart{
	/* position: absolute;
	right: 0;
	top: 0; */
	background-color: rgb(58, 56, 56);
	height: 100%;
	width: 100%;
}

.close-icon-cart{
	position: absolute;
	left: 5px;
	top: 5px;
	font-size: 2rem;
	color: red;
	cursor: pointer;
}

.cart-items{
	padding: 25px 0 25px 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
}

.cart-item{
	width: 200px;
}

.filters-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	border-bottom: 2px solid grey;
	border-top: 2px solid grey;
	padding: 10px;
	width: 100%;
}

.options-container {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.products-container{
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
	align-items: center;
  gap: 15px;
}

.product-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	padding: 10px;
}

.product-flex:hover {
	scale: 1.05;
}

.product-info{
	max-width: 200px;
  display: flex;
  flex-direction: column;
	gap: 10px;
	padding: 10px 0 10px 0;
}

.manage-cart {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
}

.order-by-flex{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.order-by-button{
	display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.order-by-options{
	margin: auto;
  cursor: pointer;
  user-select: none;
}

.range-price-flex{
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.category-list{
 	display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.each-category{
	cursor: pointer;
  user-select: none;
  font-weight: bold;
}

.each-category:hover{
	color: green;
}

.each-category.selected{
	border-bottom: 2px solid green;
}